body{
	box-sizing: border-box;
}
.news-top{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px;
}

.news-top .avatar{
	flex-grow: 1;
}
.news-top .avatar .img-circle{
	width: 32px;
	height: 32px;
}

.news-top .button-meags{
	border: none;
	background: #fff;
	cursor: pointer;
}

.news-content img{
	width: 100%;
}

.news-info .btn-interact{
	border: none;
	background: #FFF;
	padding: 8px;
	cursor: pointer;
}

.interact{
	margin-top: 4px;
	padding: 0 16px;
}

.news-info .btn-interact i{
	font-size: 24px;
}

.mark-icon{
	float: right;
}

.likes{
	padding: 0 16px;
	margin-bottom: 8px;
}

.likes .btn-likes{
	border: 0;
	background: #FFF;
	color: #262626;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}

.detail-info{
	padding: 0 22px;
}

.detail-info .status, .detail-info .comment{
	color: #262626;
	font-size: 14px;
}

.detail-info .status .user-name, .detail-info .comment .user-name{
	text-decoration: none;
	font-weight: bold;
	color: #262626;
}

.btn-more{
	border: none;
	background: #FFF;
	color: #8E8E8E;
	cursor: pointer;
}

.comment .view-comment a, .time a{
	font-size: 14px;
	color: #8E8E8E;
	cursor: pointer;
	text-decoration: none;
}

.comment .btn-relike{
	border: none;
	background: #FFF;
	cursor: pointer;
}

.fr-comment{
	display: flex;
}

.fr-comment .fr-comment-content{
	flex-grow: 1;
}

.status, .view-comment, .fr-comment, .time{
	margin-bottom: 4px;
}

.post-comment{
	border-top: 1px solid #EEE;
	padding: 16px 22px;
	margin-top: 4px;
}

.btn-post{
	border: none;
	background: #FFF;
	color: #0095f6;
	opacity: .3;
	display: inline;
	position: relative;
}

.input-comment{
	border: none;
	resize: none;
	height: 18px;
	max-height: 80px;
	outline: 0;
}

.form-post-comment{
	display: flex;
}

.form-post-comment .input-comment{
	flex-grow: 1;
}