body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #FAFAFA;
}

.container{
	width: 1000px;
	min-height: 100px;
	display: grid;
	grid-template-columns: auto 295px;
	margin: 0 auto;
}

.header{
	grid-column: 1/3;
}

.main-content{
	margin-right: 28px;
}

.main-content .news{
	margin-bottom: 60px;
	border: 1px solid #EEE;
	background: #FFF;
	border-radius: 5px;
}
